#celebrities-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.celebrity {
    transition: opacity 0.3s ease;
    width: 200px;
}

.filtered-out {
    display: none; /* Masquer l'élément en le supprimant du flux */
}

.celebrity img {
    width: 150px;
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.celebrity-photo {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

#infos-page {
    padding: 10px;
    position: center;
    display: none;
}
