#question-page {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#celebrite-choix-container {
    display: flex;
    align-items: center;
}

#celebrite {
    margin-right: 20px;
}

#celebrite img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 30%
}

#choix-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#resultat {
    margin-top: 20px;
    border-radius: 10px;
}

#accueil-page {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

#accueil-page h1 {
    color: #333;
}

#accueil-page p {
    color: #666;
    margin-bottom: 20px;
}

/* Styles pour les boutons de la page d'accueil */
#accueil-page button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border: 3px solid darkblue;
    border-radius: 50px; /* Forme de nuage arrondi */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), /* Ombre générale */
            0 0 15px 5px rgba(0, 128, 0, 0.4) inset; /* Ombre ronde intérieure */
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

#accueil-page button:hover {
    transform: translateY(-5px);
}

/* Styles pour les boutons du quiz */
#demarrer-quiz, #question-suivante {
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid dark;
    border-radius: 50px; /* Forme de nuage arrondi */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), /* Ombre générale */
            0 0 15px 5px rgba(0, 128, 0, 0.4) inset; /* Ombre ronde intérieure */
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease;
}

#demarrer-quiz:hover, #question-suivante:hover {
    transform: translateY(-5px); /* Légère translation vers le haut au survol */
}

.choix-btn {
    position: relative;
    padding: 20px 40px;
    font-size: 30px;
    border: 3px solid darkred;
    border-radius: 50px; /* Forme de nuage arrondi */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), /* Ombre générale */
            0 0 15px 5px rgba(0, 128, 0, 0.4) inset; /* Ombre ronde intérieure */
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease;
}

.choix-btn:hover {
    transform: translateY(-5px); /* Légère translation vers le haut au survol */
    background-color: darkgreen;
}
#explication-page button#demarrer-quiz:hover,
#explication-page a:hover {
    background-color: #0056b3;
}
