body {
    font-family: verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 5%;
    background-image: url('Balancetonporc.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Ajustez l'opacité ici */
    z-index: -1;
}

.container {
    text-align: center;
    padding: 20px;
}

* {
    font-weight: bold;
}

#fond-ecran {
    display: none; /* Suppression de l'élément #fond-ecran */
}

#question-page {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#celebrite-choix-container {
    display: flex;
    align-items: center;
}

#celebrite {
    margin-right: 20px;
}

#celebrite img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 30%
}

#choix-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.choix-btn {
    padding: 30px 40px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    border-radius: 35px;
}

#resultat {
    margin-top: 20px;
    border-radius: 10px;
}

#infos-page {
    padding: 10px;
    position: center;
    display: none;
}

.celebrities-infos-page {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 1000;
}

#infos-texte {
    white-space: pre-line;
}

#accueil-page {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

#accueil-page h1 {
    color: #333;
}

#accueil-page p {
    color: #666;
    margin-bottom: 20px;
}

/* Styles pour les boutons de la page d'accueil */
#accueil-page button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

#accueil-page button:hover {
    background-color: #2980b9;
}

#celebrities-list {
    display: flex;
    flex-wrap: wrap;
}

.celebrity {
    display: flex;
    width: 200px; 
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    text-align: center
}

.celebrity img {
    width: 150px;
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.celebrity-photo {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

#infos-utiles-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: red;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

#infos-utiles-link:hover {
    background-color: #e0e0e0;
}

#retour-accueil-link {
    position: fixed;
    bottom: 10px;
    left: 10px; /* Modification : left au lieu de right */
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

#retour-accueil-link:hover {
    background-color: #e0e0e0;
}


#resultatPourcentage {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px; /* Augmente le padding horizontal */
    color: black;
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 30px; /* Réduit le border-radius pour une forme plus nuageuse */
    background-color: transparent;
    box-shadow: 
        5px 5px 0px rgba(255, 0, 0, 0.2), /* Ajoute des ombres pour simuler des bords irréguliers */
        -5px -5px 0px rgba(255, 0, 0, 0.2),
        10px 0px 0px rgba(255, 0, 0, 0.2),
        -10px 0px 0px rgba(255, 0, 0, 0.2);
    margin-right: 10px
}

#resultatPourcentage::before {
    content: '⚠️';
    margin-right: 5px;
}